.pagination {
  display: block;
  list-style-type: none;
  margin-bottom: 2rem;

  li {
    display: inline-block;

    &.disabled a {
      cursor: not-allowed;
      pointer-events: none;
    }

    &.active a {
      background-color: #5949d6;
      color: #ffffff;
    }

    a {
      cursor: pointer;
      display: block;
      padding: 1rem 1.5rem;
      border-radius: 2px;
      color: #737373;
      text-align: center;
    }
  }
}
