.post-list {
  list-style-type: none;

  .loading,
  .no-content {
    text-align: center;
  }

  .load-more {
    padding-top: 2rem;
    padding-bottom: 0;
    text-align: center;
  }

  &__item {
    padding: 2rem 0;
    border-bottom: 1px solid rgba(97, 106, 120, 0.07);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      button {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
