.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 85%;

  &--success {
    background-color: #2a8853;
    color: #ffffff;
  }

  &--danger {
    background-color: #fb3d4e;
    color: #ffffff;
  }
}
