.breadcrump {
  list-style-type: none;

  &__item {
    position: relative;
    display: inline-block;
    padding: 0 1rem;

    &:first-child {
      padding-left: 0;
    }

    &:first-child::before {
      content: none;
    }

    &::before {
      position: absolute;
      content: '-';
      left: -3px;
    }

    a {
      color: inherit;
    }
  }
}
