.btn {
  user-select: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #d5dfea;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  color: #000000;

  &--danger {
    background-color: #fb3d4e;
    border-color: #fb3d4e;
    color: #ffffff;
  }

  &--primary {
    background-color: #5949d6;
    border-color: #5949d6;
    color: #ffffff;
  }
}
