input,
select,
textarea {
  background-color: #ffffff;
  border: 1px solid #d5dfea;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  font-size: 1.6rem;
  font-family: inherit;
}

textarea {
  max-width: 100%;
  min-width: 100%;
}

.form-footer {
  text-align: right;
}

form {
  .btn {
    padding: 1rem 2rem;
  }
}

.form-group {
  margin-bottom: 1.5rem;

  label,
  input,
  select,
  textarea {
    width: 100%;
    display: block;
  }

  label {
    margin-bottom: 1rem;
  }

  input,
  select,
  textarea {
    padding: 1rem 2rem;
  }

  .has-error {
    box-shadow: rgb(229, 62, 62) 0px 0px 0px 1px;
    border-color: rgb(229, 62, 62);
  }

  small {
    color: rgb(229, 62, 62);
  }
}
