table {
  width: 100%;
  color: #212529;
  margin-bottom: 2em;
  border-collapse: collapse;
  background-color: #ffffff;

  th {
    border-bottom: 2px solid #dee2e6;
  }

  td {
    border-bottom: 0px solid #d5dfea;
  }

  th,
  td {
    text-align: center;
    border-top: 1px solid #d5dfea;
    padding: 1rem;
    vertical-align: middle;
  }
}
