.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-title {
  margin-bottom: 1rem;
}

.nowrap {
  white-space: nowrap;
}

.page-header {
  padding: 1.5rem 0;
}
