.form-container {
  width: 50%;
  margin: 0 auto;

  @media only screen and (max-width: 1024px) {
    width: 70%;
  }

  @media only screen and (max-width: 768px) {
    width: 80%;
  }

  @media screen and (max-width: 425px) {
    width: 100%;
  }
}
