.posts {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    padding: 3rem 0;
  }

  &__filters {
    margin-top: 2rem;

    input {
      margin-bottom: 1rem;

      @media only screen and (max-width: 425px) {
        width: 100%;
      }
    }
  }
}
