.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(72, 94, 144, 0.16);
  padding: 1rem 3rem;

  @media screen and (max-width: 425px) {
    padding: 1rem 2rem;
  }

  &__logo {
    display: inline-block;

    img {
      max-width: 100%;
      height: 5rem;
    }
  }
}

.main {
  padding: 2rem 3rem;
  min-height: calc(100vh - 12rem);

  @media screen and (max-width: 425px) {
    padding: 2rem;
  }
}

.footer {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 3rem;

  @media screen and (max-width: 425px) {
    padding: 1rem 2rem;
  }
}
