.page-body {
  display: flex;
  flex-wrap: wrap;

  .profile {
    flex: 0 0 30%;
    padding-left: 0;
  }

  .posts {
    flex: 0 0 70%;
    padding-right: 0;
  }

  .profile,
  .posts {
    padding: 0 1rem;

    @media only screen and (max-width: 768px) {
      flex: 0 0 100%;
      padding: 0;
    }
  }
}

.box {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(19, 23, 38, 0.05);
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 1rem;
}
