.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    border: 1px solid rgba(72, 94, 144, 0.16);
    border-radius: 5px;
    width: 40%;
    animation-name: animatetop;
    animation-duration: 0.4s;

    @media only screen and (max-width: 1024px) {
      width: 60%;
    }

    @media only screen and (max-width: 768px) {
      width: 80%;
    }

    @media only screen and (max-width: 425px) {
      width: 90%;
    }
  }

  @keyframes animatetop {
    from {
      top: -30rem;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  .close {
    font-size: 28px;
    font-weight: bold;
    border: none;
    background-color: transparent;
  }

  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .modal-header,
  .modal-body {
    padding: 2rem 3rem;
  }
}
