.user-info {
  &__avatar {
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);

    h3 {
      margin: 1rem 0 2rem 0;
    }

    img {
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }
  }

  &__item {
    margin-bottom: 2rem;
    font-weight: 700;

    span {
      font-weight: normal;
    }
  }
}
