@import './sass/normalize';
@import './sass/accessibility';
@import './sass/form';
@import './sass/table';
@import './sass/utility';
@import './sass/breadcrump';
@import './sass/badge';
@import './sass/button';

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #475f7b;
  background-color: #f4f5f9;
}
